name: "Check Configuration"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flake-checker-action@v12

      # This single command now runs nixfmt, statix, and deadnix
      - name: Run Flake Checks
        run: nix flake check

      - name: Dry-run System Evaluation
        run: nix build .#nixosConfigurations.baguette-nixos.config.system.build.toplevel --dry-run